/* Base tokens */
@import "./base/string.css";
@import "./base/dimension.css";
@import "./base/color.css";

/* Theme: Sds Light */
@import "./sds-light/string.css";
@import "./sds-light/dimension.css";
@import "./sds-light/color.css";

/* Theme: Sds Dark */
@import "./sds-dark/string.css";
@import "./sds-dark/dimension.css";
@import "./sds-dark/color.css";