/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

.theme-sds-light {
  --dimension-typography-primitives-scale-01: 12px;
  --dimension-typography-primitives-scale-02: 14px;
  --dimension-typography-primitives-scale-03: 16px;
  --dimension-typography-primitives-scale-04: 20px;
  --dimension-typography-primitives-scale-05: 24px;
  --dimension-typography-primitives-scale-06: 32px;
  --dimension-typography-primitives-scale-07: 40px;
  --dimension-typography-primitives-scale-08: 48px;
  --dimension-typography-primitives-scale-09: 64px;
  --dimension-typography-primitives-scale-10: 72px;
  --dimension-typography-primitives-weight-thin: 100px;
  --dimension-typography-primitives-weight-extra-light: 200px;
  --dimension-typography-primitives-weight-light: 300px;
  --dimension-typography-primitives-weight-regular: 400px;
  --dimension-typography-primitives-weight-medium: 500px;
  --dimension-typography-primitives-weight-semibold: 600px;
  --dimension-typography-primitives-weight-bold: 700px;
  --dimension-typography-primitives-weight-extra-bold: 800px;
  --dimension-typography-primitives-weight-black: 900px;
  --dimension-responsive-device-width: 1200px;
  --dimension-responsive-scale: 1px;
  --dimension-size-space-0: 0px;
  --dimension-size-space-050: 2px;
  --dimension-size-space-100: 4px;
  --dimension-size-space-150: 6px;
  --dimension-size-space-200: 8px;
  --dimension-size-space-300: 12px;
  --dimension-size-space-400: 16px;
  --dimension-size-space-600: 24px;
  --dimension-size-space-800: 32px;
  --dimension-size-space-1200: 48px;
  --dimension-size-space-1600: 64px;
  --dimension-size-space-2400: 96px;
  --dimension-size-space-4000: 160px;
  --dimension-size-space-negative-100: -4px;
  --dimension-size-space-negative-200: -8px;
  --dimension-size-space-negative-300: -12px;
  --dimension-size-space-negative-400: -16px;
  --dimension-size-space-negative-600: -24px;
  --dimension-size-radius-100: 4px;
  --dimension-size-radius-200: 8px;
  --dimension-size-radius-400: 16px;
  --dimension-size-blur-100: 4px;
  --dimension-size-radius-full: 9999px;
  --dimension-size-depth-0: 0px;
  --dimension-size-depth-025: 1px;
  --dimension-size-depth-100: 4px;
  --dimension-size-depth-200: 8px;
  --dimension-size-depth-400: 16px;
  --dimension-size-depth-800: 32px;
  --dimension-size-depth-1200: 48px;
  --dimension-size-depth-negative-025: -1px;
  --dimension-size-depth-negative-100: -4px;
  --dimension-size-depth-negative-200: -8px;
  --dimension-size-depth-negative-400: -16px;
  --dimension-size-depth-negative-800: -32px;
  --dimension-size-depth-negative-1200: -48px;
  --dimension-size-stroke-border: 1px;
  --dimension-size-stroke-focus-ring: 2px;
  --dimension-size-icon-small: 24px;
  --dimension-size-icon-medium: 32px;
  --dimension-size-icon-large: 40px;
  --dimension-responsive-root-font-size: var(--dimension-typography-primitives-scale-03);
  --dimension-typography-title-hero-size: var(--dimension-typography-primitives-scale-10);
  --dimension-typography-title-hero-font-weight: var(--dimension-typography-primitives-weight-bold);
  --dimension-typography-title-page-size-small: var(--dimension-typography-primitives-scale-07);
  --dimension-typography-title-page-size-base: var(--dimension-typography-primitives-scale-08);
  --dimension-typography-title-page-size-large: var(--dimension-typography-primitives-scale-09);
  --dimension-typography-title-page-font-weight: var(--dimension-typography-primitives-weight-bold);
  --dimension-typography-subtitle-size-small: var(--dimension-typography-primitives-scale-05);
  --dimension-typography-subtitle-size-base: var(--dimension-typography-primitives-scale-06);
  --dimension-typography-subtitle-size-large: var(--dimension-typography-primitives-scale-07);
  --dimension-typography-subtitle-font-weight: var(--dimension-typography-primitives-weight-regular);
  --dimension-typography-heading-size-small: var(--dimension-typography-primitives-scale-04);
  --dimension-typography-heading-size-base: var(--dimension-typography-primitives-scale-05);
  --dimension-typography-heading-size-large: var(--dimension-typography-primitives-scale-06);
  --dimension-typography-heading-font-weight: var(--dimension-typography-primitives-weight-semibold);
  --dimension-typography-subheading-size-small: var(--dimension-typography-primitives-scale-03);
  --dimension-typography-subheading-size-medium: var(--dimension-typography-primitives-scale-04);
  --dimension-typography-subheading-size-large: var(--dimension-typography-primitives-scale-05);
  --dimension-typography-subheading-font-weight: var(--dimension-typography-primitives-weight-regular);
  --dimension-typography-body-size-small: var(--dimension-typography-primitives-scale-02);
  --dimension-typography-body-size-medium: var(--dimension-typography-primitives-scale-03);
  --dimension-typography-body-size-large: var(--dimension-typography-primitives-scale-04);
  --dimension-typography-body-font-weight-regular: var(--dimension-typography-primitives-weight-regular);
  --dimension-typography-body-font-weight-strong: var(--dimension-typography-primitives-weight-semibold);
  --dimension-typography-code-size-small: var(--dimension-typography-body-size-small);
  --dimension-typography-code-size-base: var(--dimension-typography-body-size-medium);
  --dimension-typography-code-size-large: var(--dimension-typography-body-size-large);
  --dimension-typography-code-font-weight: var(--dimension-typography-body-font-weight-regular);
}